/* The navigation menu */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    scroll-behavior: smooth;
}


ul{
    list-style-type: none;
}

body{
    background-color: #F2ECE9;
}

/* The subnavigation menu */


a:link, a:visited, a:active{
    text-decoration: none;
}

/* Subnav button */


/* Hover cambia de color el menu */
.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: #734EA6;
    color: #eee;
}


.colorbanner{
    background-color: #734ea6d0;
}

iframe {
    width: 100%;
    height: 100vh;
    max-height: 400px;
    transform: scale(2);
  }
  
/* Ajustamos la altura máxima del video a 600px */
    
  }

.carousel .fa-caret-right {
    font-size: 50px;
  }


h1{
    text-align: center;
    padding: 70px;
}

.videohome {
    align-items: center;
}

.card {
    position: relative;
    flex: 0 0 309px;
    height: 450px;
    width: 5rem;
    overflow: hidden;
    margin-left: 1.5rem;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    padding: 20px;
    margin: 20px;
}

/* Categorias */

.categories i{
    margin: none;
    padding: .5rem;
    font-size: 15vh;
    color: #734EA6;
}

/* responsive */

@media screen and (max-width: 430px) {

    .card {
        max-height: 200px;
        min-width: 50vh;
        flex-direction: row;
        
    }

    .card img {
        max-width: 45%;
        margin: auto;
        padding: 0.1em;
        border-radius: .2em;
    }

    .categories i {
        font-size: 10vh;
    }
    
    iframe {
        width: 100%;
        height: 100vh;
        max-height: 280px;
    }
}

.card:hover{
    transition: all 0.9s;
    transform: scale(1.1);
}
.card img{
    width: 100%;
    object-fit: cover;
}

.card body {
    position: absolute;
    top: 0;
    padding: 28px;    
}

footer{
    background-color: #734EA6;
    text-align: center;
}

.socialnetworks{
    font-size: 5vh;
}

.socialnetworks a{
    color: #F2ECE9;
}

.socialnetworks a:hover{
    color: #BE84BF;
}


.input-box-contact{
    color: #F2ECE9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}


.input-box-contact input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: #be84bf4d;
}

.input-box-contact textarea{
    width: 100%;
    padding: 0 10px;
    background: #be84bf4d;
}

form {
    width: 30%;
    margin: auto;
    padding-left: auto;
    position: relative;

}

form i{
    color: #734EA6;
}

form .fa-name{
    position: absolute;
    top: 1rem;
    left: 10rem;
}

form .fa-lastname{
    position: absolute;
    top: 1rem;
    left: 24rem;
}

form .fa-mail{
    position: absolute;
    top: 5.5rem;
    left: 24rem;
}

form .fa-com{
    position: absolute;
    top: 13rem;
    left: 24rem;
}
